@model IEnumerable<CMRSucre.Models.Socio>

@*@{
    ViewData["Title"] = "Index";
}

<h1>SOCIOS REGISTRADOS </h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SocioId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SocioId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SocioId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@

@{
    ViewData["Title"] = "Index";
}

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-md-6 offset-md-3">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">SOCIOS REGISTRADOS</h6>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Nombres)*@
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            <a class="btn btn-success text-white" asp-action="Create"><i class="fas fa-random"></i>Nuevo</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.Nombres)*@
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.SocioId" class="btn btn-warning">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <form asp-action="Delete" asp-route-id="@item.SocioId" class="d-inline">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Esta seguro de eliminar')">
                                        <i class="fa-solid fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>